# Environment variables
.env

# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Temporary files
*.tmp

# Coverage reports
coverage/


# future update
productRoutes.js
Product.js
productController.js